body {
    font-family: Oswald;
    font-weight: 300;
    font-size: 1.4rm;
    background-color: #444;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right, #1f1c2c, #928dab);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1,
h2 {
    font-weight: 300;
}